<!-- <div class="tree">
	<ul>
		<li>
			<a href="#">Parent</a>
			<ul>
				<li>
					<a href="#">Child</a>
					<ul>
						<li>
							<a href="#">Grand Child</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Child</a>
					<ul>
						<li><a href="#">Grand Child</a></li>
						<li>
							<a href="#">Grand Child</a>
							<ul>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">
                    <img src="http://cdn.onlinewebfonts.com/svg/img_311846.png" height="40" width="40"/>
                    Great Grand Child
                  </a>
								</li>
							</ul>
						</li>
						<li><a href="#">Grand Child</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div> -->

<div class="tree">
	<ul>
		<ng-template #recursiveList let-list>
			<li *ngFor="let item of list" >
				<a href="#" style="text-align:center;">
					<img src="http://cdn.onlinewebfonts.com/svg/img_311846.png" height="40" width="40" /> {{item.entitys[0].PersonFirstName}}
          <!-- <img src="http://cdn.onlinewebfonts.com/svg/img_311846.png" height="40" width="40" style="margin-left: 10px"/> {{item.entitys[1].PersonFirstName}} -->
          <div class="nodeButton">
            <a  href="javascript:void(0)" role="button" (click)="AddNode(item)" >+</a>
            <a  href="javascript:void(0)" role="button" (click)="RemoveChildreenNodes(item)" >-</a>
          </div>
				</a>
				<ul *ngIf="item.childreen.length > 0">
					<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.childreen }"></ng-container>
				</ul>
			</li>
		</ng-template>
		<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: nodes }"></ng-container>
	</ul>
</div>
